:root{
    --colorPrincipal:rgb(228, 17, 17);
    --colorSecundario:#ffffff;
    --fuente:'Open Sans', sans-serif;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    font-size: 1.6rem;

}
h1,h2,h3,p{
    text-align: center;
    font-family: var(--fuente);
}
h1{
    font-size: 4.5rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}
span{
    font-family: var(--fuente);
}
a{
    text-decoration: none;
    font-family: var(--fuente);
}
li{
    list-style: none;
}
.header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--colorSecundario);
    position: sticky;
    top: 0;
}
.header__logo{
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fuente);
    color: var(--colorPrincipal);
   

}
nav{
    max-width: 400px;
    height: 60px;
    transition: .5s;
}
.icon{
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.btn_icon_menu{
    display: none;
}
.menu__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;

}
.menu__list a{
    margin-right: 5rem;
}
.ChangeLeft{
    left: 0;
}
.background{
    background-color: aqua;
    height: 100vh;
}

@media (max-width: 900px){ 
    .header{
        position: relative;
        height: 4rem;
    }
    .btn_icon_menu{
        display: flex;
    }
    nav{
        width: 70%;
        order: 1;
        position: absolute;
        background-color: var(--colorSecundario);
        height: 100vh;
        left: -70%;
    }
    .menu__list{
        padding-top: 2em;
        flex-direction: column;
        height: 400px ;
    }
    
}
/*portada*/

.informacion{
    background-image: url(https://pedantic-shannon-fab8ba.netlify.app/IMG/FONDO_PORTADA.jpg);
    max-width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
  
    
}
.informacion__portada{
    background-color: rgba(0, 0, 0, .7);
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


.informacion__portada .informacion__titulo{
    font-size: 7rem;
    color: var(--colorSecundario);
    text-transform: uppercase;
    font-weight: 800;
}

.informacion__portada .informacion__parrafo{
    color: var(--colorSecundario);
    text-align: center;
    margin-top: 4rem;
}
.informacion__portada .informacion__boton{
    background-color: var(--colorPrincipal);
    padding: 1rem 1.5rem;
    margin-top: 4rem;
    text-transform: capitalize;
    color: var(--colorSecundario);

}
.about{
    margin-top: 3rem;
}
.about::first-letter{
    color: var(--colorPrincipal);
}
@media (min-width: 768px){ 
    .sobre-nosotros-grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 5rem 20rem;
        column-gap: 4rem;
       
    }
    .sobre-nosotros-grid__imagen{
        max-width: 300px;
        height: 200px;
       
    }
   
    
}
@media (max-width:767px ){ 
    .sobre-nosotros-grid__imagen{
        margin-top: 3rem;
    }
    .informacion__portada .informacion__titulo{
        font-size: 5rem;
    }

    
}
/*productos*/
.producto__imagen{
    display: block;
    
}
.producto{
    background-color: var(--colorSecundario);
    height: 25rem;
    margin-top: 2rem;
    padding: 2rem 0 27rem 0;
    box-shadow: 0 5px 35px rgb(0 0 0 / 8%);
    text-align: center;
   
}
@media (max-width:599px){ 
   .producto{
       margin: 5rem;
   }
    .producto__imagen{
        max-width:100%;
        
    }
    
}

@media (min-width:600px){ 
    .menu-grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
        margin: 0 2rem;
    }
    .producto{
        display: block;
    }
    
}
@media (min-width: 900px){ 
    .menu-grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 2rem;
        margin: 0 2rem;
    }
    
}
@media (min-width: 1200px){ 
    .menu-grid{
        display: grid;
        grid-template-columns: repeat(4,1fr);

     
    }
    .producto{
        width: 25rem;
    }
    
}



